@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    overflow: hidden;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #e9ebee;
}

/* Header scss */

h3 {
    font-weight: lighter;
}
.nav {
    height: 45px;
    width: 100%;
    position: absolute;
    padding-left: 210px;

    bottom: 0px;
    background-color: white;
    margin: 0px 1px 1px 1px;
}
.container {
    top: 0;
    margin: 0 auto;
    width: 850px;
    min-height: 1000px;
}
.header {
    position: relative;
    background-color: #5566a8;
    height: 400px;
    bottom: inherit;
    margin-bottom: 10px;
}
.title {
    position: absolute;
    bottom: 60px;
    left: 220px;
    height: 60px;
    width: 300px;

    color: #FFF;
}
.button {
    height: 30px;
    min-width: 70px;
    background-color: #FFF;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.round {
    border: solid 1px;
    border-radius: 10%;
}
.right-round {
    border: solid 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.left-round {
    border: solid 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 30px;
    min-width: 70px;

    background-color: #FFF;

    text-align: center;
    float: left;
}
.message {
    border-top: 1px;
}
.buttons {
    position: absolute;
    height: 30px;
    width: 300px;

    text-align: right;

    right: 12px;
    bottom: 60px;
}

.profile {
    border: solid 1px;
    background-color: #5566a8;

    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 180px;
    width: 180px;

    z-index: 1;
}

/* Columns down here */

.left-column {
    width: 328px;
    margin-right: 5px;
    float: left;
}

.right-column {
    width: 512px;
    margin-left: 5px;
    float: right;
}

/* content style */
.left-column-item {
    background-color: #FFF;
    border: solid 1px;
    border-color: #FFF;
    border-radius: 3px;
    margin-bottom: 10px;

}

.left-column .info .special, .links {
    padding: 8px;
}

.lchead {
    padding: 8px;

    height: 30px;
    color: #333;
    border-bottom: 1px solid #dddfe2;

    background-color: #f6f7f9;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-column .info .special {
    border-top: 1px solid #dddfe2;
    border-bottom: 1px solid #dddfe2;
}

.lcbody {
}

.post {
    background-color: #FFF;
    border: solid 1px;
    border-color: #FFF;
    border-radius: 3px;
}

.post .head {
    margin-bottom: 20px;
}

.post .head .image {
    padding: 8px;

    height: 35px;
    width: 35px;
    float: left;
    background-color: #5566a8;
}

.post .pbody {
    padding: 8px;
    margin-bottom: 10px;
}

.post .foot {
    padding: 8px;
    height: 30px;

    background-color: #f2f3f5;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

h5 {
    display: inline;
}
